aiohttp-swagger
awesomeversion
dataclasses-json
htmllistparse
jsonpath-ng
jsonschema
prometheus_client
psycopg[binary]
pyjwt
sqlalchemy>1.4.0
# numpy and scipy installed via alpine packages
# numpy
# scipy
