aiohttp-swagger
awesomeversion
bdba==0.2.0
dataclasses-json
htmllistparse
jsonschema
prometheus_client
psycopg[binary]
pyjwt
sqlalchemy>1.4.0
# numpy and scipy installed via alpine packages
# numpy
# scipy
