aiohttp
aiohttp-swagger3
awesomeversion
boto3
brotli
cachetools
cyclonedx-python-lib
dacite
dataclasses-json
gardener-cicd-libs
github3.py
htmllistparse
jsonpath-ng
jsonschema
kubernetes
prometheus_client
psycopg[binary]
pyjwt
requests
sqlalchemy>1.4.0
starlette
urllib3
uvicorn
watchdog
python-dateutil
