{{- $podName := "artefact-enumerator" }}

apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ $podName }}
  namespace: {{ .Values.target_namespace | default .Release.Namespace }}
spec:
  schedule: {{ default "*/5 * * * *" .Values.schedule | quote }} # schedule may contain asterisks, quote to avoid yaml parser errors
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: {{ default 1 .Values.successful_jobs_history_limit }}
  failedJobsHistoryLimit: {{ default 1 .Values.failed_jobs_history_limit }}
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: {{ default 43200 .Values.ttl_seconds_after_finished }} # 43200 -> 12h
      template:
        metadata:
          labels:
            app: {{ $podName }}
        spec:
          containers:
          - name: {{ $podName }}
            image: {{ include "image" .Values.image }}
            imagePullPolicy: IfNotPresent
            command:
            - python3
            - -m
            - artefact_enumerator
            securityContext:
              allowPrivilegeEscalation: false
            env:
            - name: SECRET_FACTORY_PATH
              value: /secrets
            - name: EXTENSIONS_CFG_PATH
              value: /extensions_cfg/extensions_cfg
            - name: FINDINGS_CFG_PATH
              value: /findings_cfg/findings_cfg
            - name: OCM_REPO_MAPPINGS_PATH
              value: /ocm_repo_mappings/ocm_repo_mappings
            - name: K8S_TARGET_NAMESPACE
              value: {{ .Values.target_namespace | default .Release.Namespace }}
            volumeMounts:
            - name: github
              mountPath: /secrets/github
            - name: github-app
              mountPath: /secrets/github-app
            - name: kubernetes
              mountPath: /secrets/kubernetes
            - name: oci-registry
              mountPath: /secrets/oci-registry
            - name: extensions-cfg
              mountPath: /extensions_cfg
            - name: findings-cfg
              mountPath: /findings_cfg
            - name: ocm-repo-mappings
              mountPath: /ocm_repo_mappings
              readOnly: true
            resources:
              requests:
                memory: 500Mi
                cpu: 500m
              limits:
                memory: 1000Mi
                cpu: 1000m
          volumes:
            - name: github
              secret:
                secretName: secret-factory-github
                optional: true
            - name: github-app
              secret:
                secretName: secret-factory-github-app
                optional: true
            - name: kubernetes
              secret:
                secretName: secret-factory-kubernetes
                optional: true # might use incluster config
            - name: oci-registry
              secret:
                secretName: secret-factory-oci-registry
            - name: extensions-cfg
              configMap:
                name: extensions-cfg
            - name: findings-cfg
              configMap:
                name: findings-cfg
            - name: ocm-repo-mappings
              configMap:
                name: ocm-repo-mappings
          restartPolicy: Never
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-egress-from-artefact-enumerator
  namespace: {{ .Values.target_namespace | default .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      app: {{ $podName }}
  policyTypes:
    - Egress
  egress:
    - {}  # Allows all egress traffic to any destination and port
