{{- range $config := .Values.configurations }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ $name := print "cache-manager-" $config.envVars.CFG_NAME }}{{ $name }}
spec:
  schedule: {{ default "0 * * * *" $config.schedule | quote }} # schedule contains asterisks, quote to avoid yaml parser errors
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: {{ default 1 $config.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ default 1 $config.failedJobsHistoryLimit }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: cache-manager
        spec:
          containers:
          - name: cache-manager
            image: {{ include "image" $.Values.image }}
            imagePullPolicy: IfNotPresent
            command:
            - python3
            - -m
            - cache_manager
            {{- if default list $config.args }}
            args:
            {{- range $arg := $config.args }}
            - {{ $arg }}
            {{- end }}
            {{- end }}
            env:
            {{- range $key, $value := $config.envVars }}
            - name: {{ $key }}
              value: {{ $value }}
            {{- end }}
            volumeMounts:
            - name: delivery-db
              mountPath: /secrets/delivery-db
            - name: kubernetes
              mountPath: /secrets/kubernetes
            - name: oci-registry
              mountPath: /secrets/oci-registry
            - name: scan-cfg
              mountPath: /cfg
            - name: findings-cfg
              mountPath: /cfg
            - name: cfg-factory
              mountPath: "/cfg_factory"
              readOnly: true
            - name: features-cfg
              mountPath: "/features_cfg"
              readOnly: true
          volumes:
            - name: delivery-db
              secret:
                secretName: secret-factory-delivery-db
                optional: true # TODO: only optional until cfg factory support has been removed
            - name: kubernetes
              secret:
                secretName: secret-factory-kubernetes
                optional: true # extensions in general are optional
            - name: oci-registry
              secret:
                secretName: secret-factory-oci-registry
                optional: true # TODO: only optional until cfg factory support has been removed
            - name: scan-cfg
              configMap:
                name: scan-cfg
                optional: true # TODO: only optional until old scan cfg has been removed
            - name: findings-cfg
              configMap:
                name: findings-cfg
                optional: true # TODO: only optional until old scan cfg has been removed
            - name: cfg-factory
              secret:
                secretName: cfg-factory-secret
                optional: true
            - name: features-cfg
              secret:
                secretName: features-cfg
                optional: true
          restartPolicy: Never
---
{{- end }}
