apiVersion: batch/v1
kind: CronJob
metadata:
  name: delivery-db-backup
spec:
  schedule: {{ default "0 0 * * *" .Values.schedule | quote }} # schedule contains asterisks, quote to avoid yaml parser errors
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: {{ default 1 .Values.successful_jobs_history_limit }}
  failedJobsHistoryLimit: {{ default 1 .Values.failed_jobs_history_limit }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: delivery-db-backup
        spec:
          containers:
          - name: delivery-db-backup
            image: {{ include "image" .Values.image }}
            imagePullPolicy: IfNotPresent
            command:
            - python3
            - -m
            - delivery_db_backup
            env:
            - name: SECRET_FACTORY_PATH
              value: /secrets
            - name: SCAN_CFG_PATH
              value: /scan_cfg/scan_cfg
            - name: FEATURES_CFG_PATH
              value: /features_cfg/features_cfg
            - name: K8S_TARGET_NAMESPACE
              value: {{ .Release.Namespace }}
            volumeMounts:
            - name: delivery-db
              mountPath: /secrets/delivery-db
            - name: github
              mountPath: /secrets/github
            - name: kubernetes
              mountPath: /secrets/kubernetes
            - name: oci-registry
              mountPath: /secrets/oci-registry
            - name: scan-cfg
              mountPath: /scan_cfg
          volumes:
            - name: delivery-db
              secret:
                secretName: secret-factory-delivery-db
            - name: github
              secret:
                secretName: secret-factory-github
            - name: kubernetes
              secret:
                secretName: secret-factory-kubernetes
                optional: true # might use incluster config
            - name: oci-registry
              secret:
                secretName: secret-factory-oci-registry
            - name: scan-cfg
              configMap:
                name: scan-cfg
                optional: true # TODO: only optional until old scan cfg has been removed
          restartPolicy: Never
