apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: sastlintcheck
spec:
  replicas: 0 # will be scaled automatically by backlog-controller
  selector:
    matchLabels:
      app: sast-lint-check
      delivery-gear.gardener.cloud/service: sastLintCheck
  template:
    metadata:
      labels:
        app: sast-lint-check
        delivery-gear.gardener.cloud/service: sastLintCheck
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: sast
      terminationGracePeriodSeconds: 300 # 5 min
      containers:
        - name: sast-lint-check
          image: {{ include "image" .Values.image }}
          imagePullPolicy: IfNotPresent
          command:
            - python3
            - -m
            - sast
          env:
            - name: SECRET_FACTORY_PATH
              value: /secrets
            - name: SCAN_CFG_PATH
              value: /scan_cfg/scan_cfg
            - name: FINDINGS_CFG_PATH
              value: /findings_cfg/findings_cfg
            - name: OCM_REPO_MAPPINGS_PATH
              value: /ocm_repo_mappings/ocm_repo_mappings
            - name: K8S_TARGET_NAMESPACE
              value: {{ .Release.Namespace }}
          volumeMounts:
            - name: github
              mountPath: /secrets/github
            - name: kubernetes
              mountPath: /secrets/kubernetes
            - name: oci-registry
              mountPath: /secrets/oci-registry
            - name: scan-cfg
              mountPath: /scan_cfg
            - name: findings-cfg
              mountPath: /findings_cfg
            - name: ocm-repo-mappings
              mountPath: /ocm_repo_mappings
              readOnly: true
          lifecycle:
            preStop: # hook ensures that just created pods have at least enough time alive to add a termination signal handler
              exec:
                command:
                  - sleep
                  - "60"
          resources:
            requests:
              memory: 100Mi
              cpu: 100m
            limits:
              memory: 300Mi
              cpu: 200m
      volumes:
        - name: github
          secret:
            secretName: secret-factory-github
        - name: kubernetes
          secret:
            secretName: secret-factory-kubernetes
            optional: true # might use incluster config
        - name: oci-registry
          secret:
            secretName: secret-factory-oci-registry
        - name: scan-cfg
          configMap:
            name: scan-cfg
        - name: findings-cfg
          configMap:
            name: findings-cfg
        - name: ocm-repo-mappings
          configMap:
            name: ocm-repo-mappings
