access-manager:
  enabled: false
  image:
    repository: null
    tag: null
artefact-enumerator:
  enabled: false
  image:
    repository: null
    tag: null
backlog-controller:
  enabled: false
  image:
    repository: null
    tag: null
bdba:
  enabled: false
  image:
    repository: null
    tag: null
cache-manager:
  enabled: false
  image:
    repository: null
    tag: null
clamav:
  enabled: false
  freshclam:
    image:
      repository: europe-docker.pkg.dev/gardener-project/releases/ocm-gear/freshclam
      tag: 1.9.0
  image:
    repository: null
    tag: null
  deployment:
    annotations: []
crypto:
  enabled: false
  image:
    repository: null
    tag: null
delivery-db-backup:
  enabled: false
  image:
    repository: null
    tag: null
issue-replicator:
  enabled: false
  image:
    repository: null
    tag: null
sast:
  enabled: false
  image:
    repository: null
    tag: null
osid:
  enabled: false
  image:
    repository: null
    tag: null
responsibles:
  enabled: false
  image:
    repository: null
    tag: null
odg-operator:
  enabled: false
  image:
    repository: null
    tag: null
  namespaceOverride: ~
  extensionDefinitions: ~
