access-manager:
  enabled: false
  image:
    repository: null
    tag: null
artefact-enumerator:
  enabled: false
  image:
    repository: null
    tag: null
backlog-controller:
  enabled: false
  image:
    repository: null
    tag: null
bdba:
  enabled: false
  image:
    repository: null
    tag: null
  deployment:
    annotations: []
cache-manager:
  enabled: false
  image:
    repository: null
    tag: null
clamav:
  enabled: false
  freshclam:
    image:
      repository: null
      tag: null
  image:
    repository: null
    tag: null
  deployment:
    annotations: []
crypto:
  enabled: false
  image:
    repository: null
    tag: null
  deployment:
    annotations: []
delivery-db-backup:
  enabled: false
  image:
    repository: null
    tag: null
ghas:
  enabled: false
  image:
    repository: null
    tag: null
issue-replicator:
  enabled: false
  image:
    repository: null
    tag: null
  deployment:
    annotations: []
sast:
  enabled: false
  image:
    repository: null
    tag: null
  deployment:
    annotations: []
osid:
  enabled: false
  image:
    repository: null
    tag: null
  deployment:
    annotations: []
responsibles:
  enabled: false
  image:
    repository: null
    tag: null
  deployment:
    annotations: []
odg-operator:
  enabled: false
  image:
    repository: null
    tag: null
  namespaceOverride: ~
  extensionDefinitions: ~
