access-manager:
  enabled: false
  image:
    repository: null
    tag: null
artefact-enumerator:
  enabled: false
  image:
    repository: null
    tag: null
backlog-controller:
  enabled: false
  image:
    repository: null
    tag: null
bdba:
  deployment:
    annotations: []
  enabled: false
  image:
    repository: null
    tag: null
cache-manager:
  enabled: false
  image:
    repository: null
    tag: null
clamav:
  deployment:
    annotations: []
  enabled: false
  freshclam:
    image:
      repository: null
      tag: null
  image:
    repository: null
    tag: null
crypto:
  deployment:
    annotations: []
  enabled: false
  image:
    repository: null
    tag: null
delivery-db-backup:
  enabled: false
  image:
    repository: null
    tag: null
ghas:
  enabled: false
  image:
    repository: null
    tag: null
issue-replicator:
  deployment:
    annotations: []
  enabled: false
  image:
    repository: null
    tag: null
odg-operator:
  enabled: false
  extensionDefinitions: null
  image:
    repository: null
    tag: null
  namespaceOverride: null
osid:
  deployment:
    annotations: []
  enabled: false
  image:
    repository: null
    tag: null
responsibles:
  deployment:
    annotations: []
  enabled: false
  image:
    repository: null
    tag: null
sast:
  deployment:
    annotations: []
  enabled: false
  image:
    repository: null
    tag: null
test-evidence:
  deployment:
    annotations: []
  enabled: false
  image:
    repository: null
    tag: null
