name: Release (ODG)
on:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    permissions:
      contents: write
      packages: write
      id-token: write
    with:
      mode: release

  release-to-github-and-bump:
    uses: gardener/cc-utils/.github/workflows/release.yaml@master
    needs:
      - build
    permissions:
      contents: write
      packages: write
      id-token: write
    secrets: inherit
    with:
      release-commit-target: branch
      next-version: bump-minor
